// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here

$blush: #DFBABA;
$pink: #EFA1CA;
$hot-pink: #FF0B84;
$black: #010101;
$white: #fff;
$bs-primary-rgb: $primary;

@font-face {
    font-family: 'Gagalin';
    src: url('../fonts/Gagalin-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Lovelo';
    src: url('../fonts/LoveloBlack.otf') format('truetype');
}

@font-face {
    font-family: 'Anonymous';
    src: url('../fonts/AnonymousPro-Regular.ttf');
}


@font-face {
    font-family: 'HattonLight';
    src: url('../fonts/PP\ Hatton\ Ultralight\ 200.otf');
}

body {
    background-image: url('../images/GBP\ Background.svg');
    background-size: 100%;
    text-align: center;
}

a {
    color: $black;
}

.banner {
    font-family: 'Gagalin';
    text-align: center;
    margin-top: 40px;
    margin-bottom: 10px;
}

.buttonImage {
    height: 200px;
}

.btn-secondary {
    background: hsla(330, 100%, 52%, 1);
    background: linear-gradient(45deg, hsla(330, 100%, 52%, 1) 0%, hsla(34, 100%, 52%, 1) 100%);
    background: -moz-linear-gradient(45deg, hsla(330, 100%, 52%, 1) 0%, hsla(34, 100%, 52%, 1) 100%);
    background: -webkit-linear-gradient(45deg, hsla(330, 100%, 52%, 1) 0%, hsla(34, 100%, 52%, 1) 100%);
    box-shadow: 12px 12px 2px 1px $black;
    border: 1px solid $black;
}

.btn-outline-primary {
    background: hsla(330, 100%, 52%, 1);
    background: linear-gradient(45deg, hsla(330, 100%, 52%, 1) 0%, hsla(34, 100%, 52%, 1) 100%);
    background: -moz-linear-gradient(45deg, hsla(330, 100%, 52%, 1) 0%, hsla(34, 100%, 52%, 1) 100%);
    background: -webkit-linear-gradient(45deg, hsla(330, 100%, 52%, 1) 0%, hsla(34, 100%, 52%, 1) 100%);
    box-shadow: 12px 12px 2px 1px $black;
    border: 1px solid $black;
    color: #fff;
    width: 90%;
}

.fa-envelope-o {
    font-size: 3em;
}

.filter-white{
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(16deg) brightness(100%) contrast(104%);
}

.footer {
    background-color: #DFBABA;
}

.footer a {
    font-family: 'Gagalin';
    text-decoration: none;
    font-size: 30px;
}

.footer p{
    font-family: 'Anonymous'
}

.hand {
    text-align: center;
    font-family: 'lovelo';
    font-size: 1.8em;
}

h1, h2, h4, h5, h6 {
    font-family: 'Gagalin';
    text-align: center;
}

h3 {
    font-family: 'Gagalin';
    text-align: center;
    color: #fff;
}

.logo-holder {
    text-align: center;
    background-color: #ebded4;
    margin: 0 auto;
 }

.mail {
    background: hsla(34, 100%, 52%, 1);
    background: linear-gradient(45deg, hsla(34, 100%, 52%, 1) 100%, hsla(330, 100%, 52%, 1) 0%);
    background: -moz-linear-gradient(45deg, hsla(34, 100%, 52%, 1) 100%, hsla(330, 100%, 52%, 1) 0%);
    background: -webkit-linear-gradient(45deg, hsla(34, 100%, 52%, 1) 100%, hsla(330, 100%, 52%, 1) 0%);
    box-shadow: 12px 12px 2px 1px $black;
    border: 1px solid $black;
}



.mailing {
    background: #ff0b84;
    height: 90px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    box-shadow: 12px 12px 2px 1px $black;
    border: 1px solid $black;
    color:#fff;
    font-family: 'Lovelo';
    padding-top: 15px;
}

.mailing p {
    font-size: 34px;
}

.navbar-dark .navbar-nav .nav-link {
    color: $black !important;
}

.navbar-brand {
    font-family: 'Gagalin';
    font-size: 36px;
}

.navbar-brand a {
    color: $black !important;
    text-decoration: none;
}

.navbar-dark .navbar-toggler-icon {
    color: #010101 !important;
}

.text {
    font-family: 'Anonymous';
    text-align: center;
    margin-bottom: 50px;
}

.photo-btn {
    text-decoration: none;
}

.photo-image {
    background-color: #fff;
    height: 250px;
    box-shadow: 12px 12px 2px 1px;
    border: 1px solid $black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.polaroid {
    background-color: $black;
    height: 150px;
    width: 90%;
    margin: 10px auto;
}

.polaroid:hover {
    background-color: $bs-primary-rgb;
}

.wp-block-search__button {
    background: hsla(330, 100%, 52%, 1);
    background: linear-gradient(45deg, hsla(330, 100%, 52%, 1) 0%, hsla(34, 100%, 52%, 1) 100%);
    background: -moz-linear-gradient(45deg, hsla(330, 100%, 52%, 1) 0%, hsla(34, 100%, 52%, 1) 100%);
    background: -webkit-linear-gradient(45deg, hsla(330, 100%, 52%, 1) 0%, hsla(34, 100%, 52%, 1) 100%);
    box-shadow: 12px 12px 2px 1px $black;
    border: 1px solid $black;
    border-radius: 10px;
    color: #fff;
}

.readMore {
    display: none;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .fa-envelope-o {
        font-size: 2em;
    }

    .mailing {
        background: #ff0b84;
        height: 50px;
        margin: 0 auto;
        display: flex;
        justify-content: space-evenly;
        align-items: baseline;
        box-shadow: 12px 12px 2px 1px $black;
        border: 1px solid $black;
        color:#fff;
        font-family: 'Lovelo';
        padding-bottom: 5px;
    }

    .mailing p {
        font-size: 20px;
    }
      .tab {
          display: flex;   
      }

      .sec1 {
          display: flex;
          flex-direction: column !important;
      }

      .sec2 {
          width: 450px;
          margin-top: 100px;
      }
}

@media screen and (max-width: 767px) {
    .fa-envelope-o {
        font-size: 2em;
    }

    .mailing {
        background: #ff0b84;
        height: 50px;
        margin: 0 auto;
        display: flex;
        justify-content: space-evenly;
        align-items: baseline;
        box-shadow: 12px 12px 2px 1px $black;
        border: 1px solid $black;
        color:#fff;
        font-family: 'Lovelo';
        padding-top: 5px;
    }

    .mailing p {
        font-size: 20px;
    }

    .text {
        overflow: hidden;
        display: -webkit-box;
        margin-bottom: 0;
        -webkit-box-orient: vertical;
        /* truncate to 7 lines */
        -webkit-line-clamp: 7;
    }

    .readMore {
        display: block;
        font-family: 'Anonymous';
    }
}