// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here

$blush: #DFBABA;
$pink: #EFA1CA;
$hot-pink: #FF0B84;
$black: #010101;
$white: #fff;
$bs-primary-rgb: $primary;

@font-face {
    font-family: 'Gagalin';
    src: url('../fonts/Gagalin-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Anonymous';
    src: url('../fonts/AnonymousPro-Regular.ttf');
}

@font-face {
    font-family: 'Anton';
    src: url('../fonts/Anton-Regular.ttf');
}

body {
    background-image: url('../images/GBP\ Background.svg');
    background-size: 100%;
}

.navbar-dark .navbar-nav .nav-link {
    color: $black !important;
}

.navbar-brand {
    font-family: 'Gagalin';
    font-size: 48px;
}

.navbar-brand a {
    color: $black !important;
}

.navbar-dark .navbar-toggler-icon {
    color: #010101 !important;
}

.logo-holder {
   text-align: center;
   background-color: #fef8c9;
   margin: 0 auto;
}

.banner {
    font-family: 'Gagalin';
    text-align: center;
    margin-top: 40px;
    margin-bottom: 10px;
}

.text {
    font-family: 'Anonymous';
    text-align: center;
    margin-bottom: 50px;
}

.photo {
    background-color: #fff;
    height: 230px;
    box-shadow: 12px 12px 2px 1px;
    border: 1px solid $black;
}

.mailing {
    background-color: $hot-pink;
    height: 100px;
    margin: 100px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
}

.mailing p {
    font-family: 'Anton';
    color: #fff;
    font-size: 36px;
}